# Put this file in $HOME/.mano/configuration.properties
#
#remote.ejb.url=warm64:9199
#remote.ejb.url=10.30.18.103:1099
remote.http.url=http://10.31.1.246/ubi-api-rest
remote.ejb.url=10.31.1.246:1099
nfvo.url=http://nfvo:8666/ubi-etsi-mano-api/sol005
vnfm.url=http://vnfm:8080/sol003
