import cling

try:
    ch = cling.Cling(hostname='{{hostip}}',
                     personality='{{personality}}',
                     username='{{username}}',
                     password='{{password}}')
    ch.login()
    ch.run_command('enable\r\n')
    ch.run_command('configure terminal')
    ch.run_command('multi-config enable')
    ch.run_command('ip route 0.0.0.0 /0 {{wan_gateway}}')
except cling.Error as e:
    print e