import cling

try:
    ch = cling.Cling(hostname='{{hostip}}',
                     personality='{{personality}}',
                     username='{{username}}',
                     password='{{password}}')
    ch.login()
    ch.run_command('enable\r\n')
    ch.run_command('configure terminal')
    ch.run_command('multi-config enable')
    ch.run_command('interface ethernet 1')
    ch.run_command('name {{ethernet_1_desc}}')
    ch.run_command('enable')
    ch.run_command('ip address {{lan_iface_ipaddr}} {{lan_iface_netmask}}')
    ch.run_command('ip nat inside')
    ch.run_command('interface ethernet 2')
    ch.run_command('name {{ethernet_2_desc}}')
    ch.run_command('enable')
    ch.run_command('ip address {{wan_iface_ipaddr}} {{wan_iface_netmask}}')
    ch.run_command('ip nat outside')
except cling.Error as e:
    print e
