import cling

try:
    ch = cling.Cling(hostname='{{hostip}}',
                     personality='{{personality}}',
                     username='{{username}}',
                     password='{{password}}')
    ch.login()
    ch.run_command('enable\r\n')
    ch.run_command('configure terminal')
    ch.run_command('multi-config enable')
    ch.run_command('rule-set {{fw_ruleset_name}}')
    ch.run_command('rule {{ fw_deny_rule_number }}')
    ch.run_command('action deny')
    ch.run_command('source ipv4-address any')
    ch.run_command('source zone any')
    ch.run_command('dest ipv4-address any')
    ch.run_command('dest zone any')
    ch.run_command('service tcp dst eq {{blocked_port}}')
    ch.run_command('fw active-rule-set firewall')
except cling.Error as e:
    print e