# Put this file in $HOME/.mano/configuration.properties
#
msa.rest-api.url=http://msa/ubi-api-rest
msa.rest-api.user=ncroot
msa.rest-api.password=OpenMsa
nfvo.url=http://nfvo:8666/ubi-etsi-mano/sol005
vnfm.url=http://vnfm:8080/ubi-etsi-mano/sol003
repository.phys.root=/tmp/etsi-test/