# Put this file in $HOME/.mano/configuration.properties
#
remote.http.url=http://10.31.1.246/ubi-api-rest
nfvo.url=http://nfvo:8666/ubi-etsi-mano/sol005
vnfm.url=http://vnfm:8080/ubi-etsi-mano/sol003
