<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="STDOUT">
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%5p [%c{2}:%L] -&gt; %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger additivity="false" name="com.netcelo.commun.database">
        <level value="warn"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.ubiqube.api.server.repository">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger additivity="false" name="com.ubiqube.api.service.server.secEngine">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
    </root>
</log4j:configuration>