import cling

try:
    ch = cling.Cling(hostname='{{hostip}}',
                     personality='{{personality}}',
                     username='{{username}}',
                     password='{{password}}')
    ch.login()
    ch.run_command('enable\r\n')
    ch.run_command('configure terminal')
    ch.run_command('multi-config enable')
    ch.run_command('class-list inside')
    ch.run_command('{{lan_network}}/{{lan_network_prefix}} lsn-lid 1')
    ch.run_command('cgnv6 lsn inside source class-list inside')
    ch.run_command('cgnv6 nat pool public {{nat_pool_start}} {{nat_pool_end}} netmask /{{nat_pool_prefix}}')
    ch.run_command('cgnv6 lsn-lid 1')
    ch.run_command('source-nat-pool public')
except cling.Error as e:
    print e